__pycache__
*.pyc

# Build and test directories
/.tox
/build
/demosys_py.egg-info
/dist
/docs/build
/docs/_build
.pytest_cache
/screenshots

# Libraries
*.a
*.DLL

# virtual envs
/env/
/.env/
/.venv/

# IDE files
/.idea
/.vscode

# Test project
/testdemo/
# Local testing of obj loaders
/examples/objtest

# Misc
.DS_Store
/bug.py
/tmp
