__pycache__
*.pyc

# Build and test directories
/.tox
/build
/demosys_py.egg-info
/dist
/docs/build
.pytest_cache
/screenshots

# Libraries
*.a
*.DLL

# virtual envs
/env/
/.env/
/.venv/

# IDE files
/.idea

# Misc
.DS_Store
.vscode/settings.json
