__pycache__

# Build and test directories
/.tox
/build
/demosys_py.egg-info
/dist
/docs/build

# Libraries
*.a
*.DLL

# virtual envs
/env/
/.env/
/.venv/

# Local dev project
/manage.py
/testdemo

# IDE files
/.idea

# Misc
.DS_Store
